<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{{titlePage}}</title>
	</head>
	<body>
		<header>
			<h1>{{contentHeader}}</h1>
		</header>
		<p>{{contentBody}}</p>
		<footer>
			<p>Copyright {{currentYear}}</p>
		</footer>
	</body>
</html>
